.u-cf {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.u-is-hidden { display: none !important; }

.is-noTouch { pointer-events : none; }
.is-onTap {
	opacity:0.8;

    -webkit-filter: brightness(5);
}


.u-w50 { width: 50% !important; }
.u-w100 { width: 100% !important; }


.u-mb3 { margin-bottom: 3px !important; }
.u-mb10 { margin-bottom: 10px !important; }
.u-mb13 { margin-bottom: 13px !important; }
.u-mb15 { margin-bottom: 15px !important; }
.u-mb40 { margin-bottom: 40px !important; }
.u-mb50 { margin-bottom: 50px !important; }